<form action="?" method="post">
<ul class="kyo_search_win">
    <li>
        <select id="start_hour_id" name="start_hour" class="form-control">
            <option value="">起始</option>
        <for start="8" end="23" name="i">
            <option value="{$i}">{$i|fill_zero}</option>
        </for>
        </select>
    </li>
    <li>
        <select id="start_min_id" name="start_min" class="form-control">
            <option value="">时间</option>
        <for start="0" end="60" step="5" name="i">
            <option value="{$i}">{$i|fill_zero}</option>
        </for>
        </select>
    </li>
    <li>
        <select id="end_hour_id" name="end_hour" class="form-control">
            <option value="">结束</option>
        <for start="8" end="23" name="i">
            <option value="{$i}">{$i|fill_zero}</option>
        </for>
        </select>
    </li>
    <li>
        <select id="end_min_id" name="end_min" class="form-control">
            <option value="">时间</option>
        <for start="0" end="60" step="5" name="i">
            <option value="{$i}">{$i|fill_zero}</option>
        </for>
        </select>
    </li>
    <li>
        <input type="text" id="start_money_id" name="start_money" class="form-control" 
            value="" maxlength="10" placeholder="起始金额" 
            kform="" autocomplete="off" title="起始金额" style="width:90px" />
    </li>
    <li>
        <input type="text" id="end_money_id" name="end_money" class="form-control" 
            value="" maxlength="10" placeholder="结束金额" 
            kform="" autocomplete="off" title="结束金额" style="width:90px;" />
    </li>
    <li class="form-control-static"><span class="glyphicon glyphicon-plus"></span></li>
</ul>
</form>
