<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>_</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="__CSS__/bootstrap.min.css" />
	<link type="text/css" href="__CSS__/bootstrap-responsive.min.css" rel="stylesheet">
	<!--[if lte IE 6]>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-ie6.css">
	<![endif]-->
	<!--[if lte IE 7]>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/ie.css">
	<![endif]-->
	<link type="text/css" href="__CSS__/bootstrap_kyo.css" rel="stylesheet">
	<link type="text/css" href="__CSS__/kyo.css" rel="stylesheet">
	<link type="text/css" href="__CSS__/kyo_install.css" rel="stylesheet">
    
</head>
<body>

<div id="loading"><img src="__IMG__/loading.gif" /></div>
<div id="ly" class="hidden"></div>

<div id="pop_win1" class="pop_win hidden">
    <div class="pop_title"><span class="pop_close">&times;</span></div>
    <div class="pop_body"></div>
</div>
<div class="container"> 
    {$body}
</div>

 <!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]--><!--[if gte IE 9]><!-->
<script type="text/javascript" src="__JS__/jquery-2.1.1.min.js"></script>
<!-- <script type="text/javascript" src="__JS__/jquery.min.js"></script> -->
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/autocomplete.js"></script>
<script type="text/javascript" src="__JS__/date.js"></script>
<script type="text/javascript" src="__JS__/kyo_form.js"></script>
<script type="text/javascript" src="__JS__/kyo_pop.js"></script>
<script type="text/javascript" src="__JS__/kyo_global.js"></script>
<script type="text/javascript" src="__JS__/kyo_install.js"></script>

</body>
</html>

