<ul class="nav navbar-nav">
    <li><a href="{:U('Install/Index/index')}" target="_blank">权限</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">系统<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#" data="{:U('KyoCommon/Bank/index')}">银行管理</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('KyoCommon/Bank/branch')}">支行管理</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('KyoCommon/Bank/cardType')}">卡种管理</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('Home/Main/pay')}">支付公司</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('Home/Main/holiday')}">假日设置</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('Main/remark').'&by=352'}">备注管理</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('Main/images')}">残图管理</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('version')}">更新管理</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">终端<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#" data="{:U('KyoCommon/Hardware/index')}">终端管理</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('KyoCommon/Hardware/model')}">型号管理</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">POS<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#" data="{:U('Pos/Pos/Index')}">POS管理</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('Pos/PosType/Index')}">MCC管理</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">分站<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#" data="{:U('User/Substation/index')}">分站管理</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('Card/Basis/index')}">分站客户</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('Card/Card/index')}">分站卡片</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('User/Users/index')}">分站用户</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('User/Salesman/index')}">分站拓展员</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">查询<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#" data="{:U('KyoCommon/Deal/index')}">交易</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('KyoCommon/Deal/repayment')}">划款</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('KyoCommon/Inspect/index')}">核查</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('report')}">报表</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('KyoCommon/Deal/abnormalData')}">异常</a></li>
            <li class="divider"></li>
            <li><a href="#" data="{:U('upData')}">数据</a></li>
        </ul>
    </li>
    <li><a href="#" data="{:U('User/Users/kyoUser')}">用户</a></li>
</ul>