<empty name="my_data_list">
    <tr>
        {$empty_html}
    </tr>
</empty>
<volist name="data_list" id='vo' >
    <tr>
        <neq name="close_num" value="1">
            <td>{$i}</td>
        </neq>

            <td>{$vo.mcc}</td>
            <td>{$vo.mcc_cost}</td>
            <td>{$vo.name}</td>
            <td>{$vo.name}</td>
            <td>{$vo.name}</td>
            <td>{$vo.name}</td>
        
        </volist>

        <neq name="close_op" value="1">
            <td>
                <volist name="data_op" id="op" key="j">
                    <neq name="j" value="1">
                        &nbsp;
                    </neq>
                    <php>
                        <literal>
                            parse_link(& $op["link"], $vo);
                            parse_link(& $op["front"], $vo);
                            parse_link(& $op["end"], $vo);
                        </literal>
                    </php>
                     {$vo.front}
                      <a href="{$op.href}" class="{$op.class}" {$op.link}>{$op.txt}</a>
                     {$vo.end}
                </volist>
            </td>
        </neq>
        <neq name="close_chkall" value="1">
            <td>
                <neq name="vo.chk" value="1">
                    <input type="checkbox" name="opChkId" value="{$vo.id}" />
                </neq>
            </td>
        </neq>
    </tr>
</volist>
