<include file="Home@Public/head" />
<link type="text/css" href="__CSS__/kyo_install.css" rel="stylesheet">

<div id="file_progress_bar" class="col-md-4 progress progress-striped active hidden">
    <div class="progress-bar" role="progressbar" style="width: 100%">正中上传中...</div>
</div>

<div id="loading"><img src="__IMG__/loading.gif" /></div>
<div id="ly" class="hidden"></div>

<div class="container"> 
    {$body}
</div>

<iframe name="file_iframe" src="" class="form_iframe hidden"></iframe>

 <!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]--><!--[if gte IE 9]><!-->
<script type="text/javascript" src="__JS__/jquery-2.1.1.min.js"></script>
<!-- <script type="text/javascript" src="__JS__/jquery.min.js"></script> -->
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/date.js"></script>
<script type="text/javascript" src="__JS__/kyo_global.js"></script>
<script type="text/javascript" src="__JS__/kyo_form.js"></script>

<!--
   - <script type="text/javascript">
   - 
   - $("#auto_up_btn").click(function(){
   -     var auto = $(this).attr("kauto");
   -     if (auto)
   -     {
   -         $("#auto_btn_txt").html("关闭自动上传");
   -         $(this).attr("kauto", "");
   - 
   -         var tid = setInterval(function(){
   -             //$("#file_input_excel_id").val('sss.xls');
   -             //alert($("#file_input_excel_id").val());
   -             $("#file_input_excel_id").change();
   -             //alert($("#test_id").html());
   -             //$("#test_id").html($("#test_id").html()+"1");
   - 
   -         }, 1000);
   -         $(this).attr("timeID", tid);
   -     }
   -     else
   -     {
   -         $("#auto_btn_txt").html("启动自动上传");
   -         $(this).attr("kauto", "kauto");
   -         clearInterval($(this).attr("timeID"));
   -     }
   - });
   - 
   - </script>
   -->

<include file="Home@Public/bottom" />
