<neq name="close_body_top" value="1">
    <div class="body_top">
</neq>
    <neq name="close_nav" value="1">
        <div class="page-header body_top_nav {$nav_class}">
            <span class="text-muted kyo_header_text">
                {$nav}
            </span>
        </div>
    </neq>
    
    <neq name="close_tool" value="1">
            {$tool}
    </neq>
<neq name="close_body_top" value="1">
    </div>
</neq>

<neq name="close_top_ctrl" value="1">
    <neq name="close_tool" value="1">
        <div class="row top_ctrl_row hidden-xs">
            <button class="btn btn-default top_ctrl_up">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
        </div>
    </neq>
</neq>

<neq name="close_data" value="1">
    {$data}
</neq>

{$main_ext}
