<form id="{$name}_id" name="{$name}" action="{$action}" method="post" enctype="multipart/form-data" 
    target="{$target}" class="{$class}" me="{$me}" callback="{$callback}">
     <div class="alert alert-danger alert-dismissable hidden">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        请修改以下输入错误：
        <ul>
            <li>1111</li>
            <li>1111</li>
            <li>1111</li>
            <li>1111</li>
        </ul>
    </div>
    <neq name="close_btn_up" value="1">
        <div class="form-group form_ctrl_btn">
        <empty name="my_btn">
            <volist name="btn" id="vo">
                {$vo.front}
                <button class="btn btn-primary {$vo.class}" {$vo.link}>
                    <notempty name="vo.icon">
                        <span class="glyphicon glyphicon-{$vo.icon}"></span>&nbsp;
                    </notempty>
                    {$vo.txt}
                </button>
                {$vo.end}
            </volist>
         <else />
            {$my_btn}
         </empty>
        </div>
    </neq>

<assign name="div_flag" value="2" />
<volist name="element" id="el" key="k" mod="$cols">
    <eq name="el.begin" value="1">
        <eq name="div_flag" value="1">
            </div>
        </eq>
        <assign name="div_flag" value="1" />
        <div class="form-group form_element_row">
        
        <eq name="el.type" value="group">
            <div class="page-header kyo_form_group {$el.class}">
                {$el.txt}            
            </div>
        </eq>
    </eq>
    <neq name="el.type" value="group">
        <notempty name="el.txt">
            <label for="{$el.id}" class="{$el.label_cols} control-label form_element_title">{$el.txt}:</label>
        </notempty>
        <neq name="el.close_div" value="1">
        <div class="{$el.cols} kyo_{$el.type} {$el.pclass}">
        </neq>
            <notempty name="el.hint">
                <assign name="hint_flag" value="kyo_hint" />
                <div id="hint_{$el.name}" class="hint_show"></div>
            </notempty>
            <switch name="el.type">
                <case value="password">
                    <input type="password" id="{$el.id}" name="{$el.name}" class="form-control {$el.class}" 
                        value="{$el.value}" maxlength="{$el.maxlength}" placeholder="{$el.placeholder}"
                        kform="{$name}" autocomplete="off" {$el.ext} title="{$el.title}" />
                </case>
                <case value="phone">
                    <input type="text" id="{$el.id}" name="{$el.name}" class="form-control {$hint_flag} {$el.class}" 
                        value="{$el.value}" maxlength="11" placeholder="{$el.placeholder}" kform="{$name}"
                        hint="{$el.hint}" autocomplete="off" {$el.ext} title="{$el.title}" />
                </case>
                <case value="email">
                    <input type="text" id="{$el.id}" name="{$el.name}" class="form-control {$el.class}" 
                        value="{$el.value}" maxlength="{$el.maxlength}" placeholder="{$el.placeholder}"
                        kform="{$name}" autocomplete="off" {$el.ext} title="{$el.title}" />
                </case>
                <case value="num">
                    <notempty name="el.addon">
                        <div class="input-group">
                    </notempty>
                    <input type="text" id="{$el.id}" name="{$el.name}" class="form-control {$hint_flag} {$el.class}" 
                        value="{$el.value}" maxlength="{$el.maxlength}" placeholder="{$el.placeholder}"
                        min="{$el.min}" max="{$el.max}" kform="{$name}" autocomplete="off" title="{$el.title}"
                        hint="{$el.hint}" {$el.ext} />
                    <notempty name="el.addon">
                        <span class="input-group-addon">{$el.addon}</span>
                        </div>
                    </notempty>
                </case>
                <case value="date">
                    <input type="text" id="{$el.id}" name="{$el.name}" class="form-control {$el.class}" 
                        value="{$el.value}" maxlength="{$el.maxlength}" placeholder="{$el.placeholder}"
                        kform="{$name}" autocomplete="off" {$el.ext} title="{$el.title}" />
                </case>
                <case value="radio">
                    <volist name="el.list" id="ro">
                        <label class="radio-inline {$ro.class}">
                        <eq name="ro.val" value="$el[value]">
                            <input type="radio" kform="{$name}" title="{$el.title}" id="{$ro.id}" name="{$el.name}" value="{$ro.val}" {$ro.link} checked="checked" />
                        <else />
                            <input type="radio" title="{$el.title}" kform="{$name}" id="{$ro.id}" name="{$el.name}" value="{$ro.val}" {$ro.link} />
                        </eq>
                            {$ro.txt}
                        </label>
                    </volist>
                </case>
                <case value="checkbox">
                    <volist name="el.list" key="c" id="cb">
                        <label class="checkbox-inline {$cb.class}">
                            <eq name="c" value="1">
                                <input type="checkbox" kform="{$name}" title="{$el.title}" id="{$cb.id}" name="{$el.name}" value="{$cb.val}" {$cb.link} /> {$cb.txt}
                            <else />
                                <input type="checkbox" title="{$el.title}" id="{$cb.id}" name="{$el.name}" value="{$cb.val}" {$cb.link} /> {$cb.txt}
                            </eq>
                        </label>
                    </volist>
                </case>
                <case value="select">
                    <select id="{$el.id}" name="{$el.name}" title="{$el.title}" kform="{$name}" class="form-control {$el.class}" {$el.link}>
                        <volist name="el.list" id="sl">
                            <php>
                                <literal>
                                    if (!isset($sl["val"]) || !($el["value"] === "") && $sl["val"] == $el["value"])
                                        echo '<option value="'.$sl['val'].'" selected="selected">'.$sl['txt'].'</option>';
                                    else
                                        echo '<option value="'.$sl['val'].'">'.$sl['txt'].'</option>';
                                </literal>
                            </php>
                        </volist>
                    </select>
                </case>
                <case value="static">
                    <p id="{$el.id}" class="form-control-static">{$el.value}</p>
                </case>
                <case value="file">
                    <input type="file" id="file_{$el.id}" name="file_{$el.name}" action="{$el.action}"
                            class="form-control form_file {$el.file_upload} {$el.class}" value="{$el.value}"
                            maxlength="{$el.maxlength}" placeholder="{$el.placeholder}" autocomplete="off" 
                            accept="{$el.accept}" title="{$el.title}" {$el.ext} />
                    <p class="form-control-static {$el.p_upload}">
                        <a title="{$el.cat_title}" url="{$el.url}" class="link_btn cat_img">查看图片</a>&nbsp;&nbsp;
                        <empty name="el.reset">
                            <a del="{$el.del}" class="link_btn reset_upload">重新上传</a>
                        </empty>
                    </p>
                    <input type="hidden" id="{$el.id}" name="{$el.name}" {$el.ext} kform="{$name}" title="{$el.title}"  value="{$el.value}" />
                </case>
                <case value="textarea">
                    <textarea id="{$el.id}" name="{$el.name}" kform="{$name}" title="{$el.title}" class="form-control {$el.class}"
                     rows="{$el.rows}" {$el.ext}>{$el.value}</textarea>
                </case>
                <case value="hidden">
                    <input type="hidden" id="{$el.id}" name="{$el.name}" kform="{$name}" value="{$el.value}" />
                </case>
                <case value="combobox">
                   <div class="input-group">
                        <input type="text" id="{$el.name}_input" class="form-control input_autocomplete {$el.class}" 
                            value="{$el.input_val}" placeholder="{$el.placeholder}" maxlength="{$el.maxlength}"
                            autocomplete="off" {$el.link} title="{$el.title}" />
                        <span class="input-group-btn">
                                <button class="btn btn-default input_autocomplete_btn" type="button"><span class="caret"></span></button>
                        </span>
                    </div>
                    <input type="hidden" id="{$el.id}" name="{$el.name}" kform="{$name}" title="{$el.title}" value="{$el.value}" />
                    <div id="{$el.name}_show" class="form-control autocomplete_show"></div>
                    <div id="{$el.name}_data" class="hidden">{$el.list}</div>
                </case>
                <case value="autocomplete">
                    <input type="text" id="{$el.name}_input" class="form-control input_autocomplete {$el.class}" 
                        value="{$el.input_val}" placeholder="{$el.placeholder}" maxlength="{$el.maxlength}"
                        autocomplete="off" {$el.link} title="{$el.title}" />
                    <input type="hidden" id="{$el.id}" name="{$el.name}" kform="{$name}" title="{$el.title}" value="{$el.value}" />
                    <div id="{$el.name}_show" class="form-control autocomplete_show"></div>
                    <div id="{$el.name}_data" class="hidden">{$el.list}</div>
                </case>
                <case value="identity">
                    <input type="text" id="{$el.id}" name="{$el.name}" class="form-control {$hint_flag} {$el.class}" 
                        value="{$el.value}" min="{$el.min}" maxlength="18" placeholder="{$el.placeholder}"
                        hint="{$el.hint}" kform="{$name}" autocomplete="off" {$el.ext}  title="{$el.title}" />
                </case>
                <case value="custom">
                    {$el.html}
                </case>
                <default />
                    <input type="text" id="{$el.id}" name="{$el.name}" class="form-control {$hint_flag} {$el.class}" 
                        value="{$el.value}" min="{$el.min}" maxlength="{$el.maxlength}" placeholder="{$el.placeholder}"
                        hint="{$el.hint}" kform="{$name}" autocomplete="off" {$el.ext}  title="{$el.title}" />
            </switch>
            <assign name="hint_flag" value="" />
        <neq name="el.close_div" value="1">
        </div>
        </neq>
        {$el.fill}
    </neq>
    <eq name="el.over" value="1">
        <assign name="div_flag" value="0" />
        </div>
    </eq>
</volist>
    <eq name="div_flag" value="1">
        </div>
    </eq>

    <iframe name="file_iframe" src="" class="form_iframe hidden"></iframe>
    
    <neq name="close_btn_down" value="1">
        <div class="form-group form_ctrl_btn">
        <empty name="my_btn">
            <volist name="btn" id="vo">
                {$vo.front}
                <button class="btn btn-primary {$vo.class}" {$vo.link}>
                    <notempty name="vo.icon">
                        <span class="glyphicon glyphicon-{$vo.icon}"></span>&nbsp;
                    </notempty>
                    {$vo.txt}
                </button>
                {$vo.end}
            </volist>
         <else />
            {$my_btn}
         </empty>
        </div>
    </neq>
</form>

<notempty name="js">
<load file="__JS__/{$js}.js" />
</notempty>