<form id="{$name}_id" name="{$name}" kajax="{$kajax}" action="{$action}" method="post" enctype="multipart/form-data" 
    target="{$target}" class="{$class}" me="{$me}" callback="{$callback}" vay="{$validity}">
    
    <neq name="close_btn_up" value="1">
        <div class="form-group form_ctrl_btn form_ctrl_up_btn">
        <empty name="my_btn">
            <volist name="btn" id="vo">
                {$vo.front}
                <button class="btn btn-primary {$vo.class}" {$vo.link}>
                    <notempty name="vo.icon">
                        <span class="glyphicon glyphicon-{$vo.icon}"></span>&nbsp;
                    </notempty>
                    {$vo.txt}
                </button>
                {$vo.end}
            </volist>
         <else />
            {$my_btn}
         </empty>
        </div>
    </neq>

<volist name="element" id="el">
    {$el.html}    
</volist>

    <neq name="close_btn_down" value="1">
        <div class="form-group form_ctrl_btn form_ctrl_btn_down">
        <empty name="my_btn">
            <volist name="btn" id="vo">
                {$vo.front}
                <button class="btn btn-primary {$vo.class}" {$vo.link}>
                    <notempty name="vo.icon">
                        <span class="glyphicon glyphicon-{$vo.icon}"></span>&nbsp;
                    </notempty>
                    {$vo.txt}
                </button>
                {$vo.end}
            </volist>
         <else />
            {$my_btn}
         </empty>
        </div>
    </neq>
    
</form>

<notempty name="js">
<load file="__JS__/{$js}.js" />
</notempty>