<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>_</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="__CSS__/bootstrap.min.css" />
	<link type="text/css" href="__CSS__/bootstrap-responsive.min.css" rel="stylesheet">
	<!--[if lte IE 6]>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-ie6.css">
	<![endif]-->
	<!--[if lte IE 7]>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/ie.css">
	<![endif]-->
	<link type="text/css" href="__CSS__/bootstrap_kyo.css" rel="stylesheet">
	<link type="text/css" href="__CSS__/kyo.css" rel="stylesheet">
</head>
<body>

