<eq name="close_tool_div" value="1">
    <div class="kyo_list_tool {$tool_class}">
</eq>

<neq name="close_btn_link" value="1">
    <div class="row tool_nav_row {$nav_row_class}">
        <div class="col-md-12">
            <neq name="close_btn" value="1">
                <empty name="my_tool_btn">
                    <volist name="tool_btn" id="vo">
                        {$vo.front}
                        <button class="btn btn-primary {$vo.class}" {$vo.link}>
                            <notempty name="vo.icon">
                                <span class="glyphicon glyphicon-{$vo.icon}"></span>&nbsp;
                            </notempty>
                            {$vo.txt}
                        </button>
                        {$vo.end}
                    </volist>
                 <else />
                    {$my_tool_btn}
                 </empty>
            </neq>
            <neq name="close_link" value="1"> 
                <empty name="my_tool_link">
                    &nbsp;
                    {$tool_link_title}
                    <volist name="tool_link" id="vo">
                        {$vo.front}
                        <eq name="vo.name" value="I('get.by')">
                            <span class="tool_link_active">{$vo.txt}</a>
                        <else />
                            <a href="{$vo.href}" class="{$vo.class}" {$vo.link}>
                                <notempty name="vo.icon">
                                    <span class="glyphicon glyphicon-{$vo.icon}"></span>&nbsp;
                                </notempty>
                                {$vo.txt}
                            </a>
                        </eq>
                        {$vo.end}
                    </volist>
                 <else />
                    {$my_tool_link}
                 </empty>
            </neq>
        </div>
    </div>
</neq>
<div class="row tool_find_row {$find_row_class}">
    <php>
        <literal>
        if ($close_btn_down == 0 && $close_batch == 0)
            echo '<div class="col-md-9">';
        else if ($close_btn_down && $close_batch)
            echo '<div class="col-md-12">';
        else if (!$close_tool_find)
            echo '<div class="col-md-10">';
        </literal>
    </php>
    <neq name="close_tool_find" value="1">
    <empty name="my_tool_find">
    
        <form action="{$tool_find.url}" method="post">
        <ul class="kyo_search_win">
            <notempty name="tool_find.typelist">
                <li>
                    <select name="search_type" me="{$tool_find.me}" class="form-control">
                        <volist name="tool_find.typelist" id="tl"> 
                            <empty name="tl.sel">
                                <option value="{$tl.val}">{$tl.txt}</option>
                            <else />
                                <option value="{$tl.val}" selected="selected">{$tl.txt}</option>
                            </empty>
                        </volist>
                    </select>
                </li>
            </notempty>
            <volist name="tool_find.item" id="vo">
                <switch name="vo.type">
                    <case value="date">
                        <li class="{$vo.class}">
                            <input type="text" id="{$vo.name}_id_start" name="{$vo.name}_start"
                             placeholder="{$vo.default|default='起始日期'}" class="form-control kyo_form_date" />
                        </li>
                        <li class="{$vo.class}">
                            <input type="text" id="{$vo.name}_id_end" name="{$vo.name}_end"
                             placeholder="{$vo.default|default='结束日期'}" class="form-control kyo_form_date" />
                        </li>
                    </case>
                    <case value="num">
                        <li class="{$vo.class}">
                            <input type="text" id="{$vo.name}_id_start" name="{$vo.name}_start" placeholder="{$vo.default|default='起始值'}" class="form-control kyo_form_num" />
                        </li>
                        <li class="{$vo.class}">
                            <input type="text" id="{$vo.name}_id_end" name="{$vo.name}_end" placeholder="{$vo.default|default='结束值'}" class="form-control kyo_form_num" />
                        </li>
                    </case>
                    <default />
                        <notempty name="vo.list">
                            <li class="{$vo.class}">
                            <select id="{$vo.name}_id" name="{$vo.name}" me="{$vo.me}" class="form-control">
                                <option value="{$vo.defval|default='0'}" selected="selected">{$vo.default}</option>
                                <volist name="vo.list" id="sl"> 
                                    <option value="{$sl.val}">{$sl.txt}</option>
                                </volist>
                            </select>
                            </li>
                        </notempty>
                </switch>
            </volist>
            <li>
                <input type="text" name="search_key" class="form-control search_input {$tool_find.input_class}" placeholder="{$tool_find.placeholder}" autocomplete="off" />
            </li>
            <li>
                <button class="btn btn-primary" id="find" type="submit" tag={$tool_find.tag}>
                    <span class="glyphicon glyphicon-search"></span>&nbsp;
                    查询
                </button>
            </li>
        </ul>
        </form>
    <else />
        {$my_tool_find}
    </empty>
    </neq>
    </div>

    <php>
        <literal>
        if ($close_tool_find)
            echo '<div class="col-md-12 text-right">';
        else if ($close_btn_down == 0 && $close_batch == 0)
            echo '<div class="col-md-3 text-right">';
        else if ($close_btn_down && $close_batch)
            echo '';
        else if ($close_btn_down || $close_batch)
            echo '<div class="col-md-2 text-right">';
        </literal>
    </php>
    
    <neq name="close_btn_down" value="1">
        {$tool_btn_down.front}
        <button class="btn btn-primary {$tool_btn_down.class}" {$tool_btn_down.link}>
            <notempty name="tool_btn_down.icon">
                <span class="glyphicon glyphicon-{$tool_btn_down.icon}"></span>&nbsp;
            </notempty>
            {$tool_btn_down.txt}
        </button>
        {$tool_btn_down.end}
    </neq>
    
    <neq name="close_batch" value="1">
            <empty name="my_tool_batch">
                <div class="btn-group text-left">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-list"></span>&nbsp;
                        批量操作
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <volist name="tool_batch" id="vo">
                        <li class={$vo.li_class}>
                            {$vo.front}
                            <a href="{$vo.href}" name="batch" class="{$vo.class}" {$vo.link}>
                                <notempty name="vo.icon">
                                    <span class="glyphicon glyphicon-{$vo.icon}"></span>&nbsp;
                                </notempty>
                                {$vo.txt}
                            </a>
                            {$vo.end}
                        </li>
                        </volist>
                    </ul>
                </div>
            <else />
               {$my_tool_batch}
            </empty>
    </neq>
    
    <php>
        <literal>
        if ($close_btn_down == 0 || $close_batch == 0)
            echo '</div>';
        </literal>
    </php>
 </div>

<eq name="close_tool_div" value="1">
</div>
</eq>
